$primary-color: red;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $primary-color;
}

form{
  max-width:200px;
  input, textarea{
    display:block;
    width:100%;
  }
  textarea{
    height:200px;
  }
  button{
    clear:both;
  }
}

.toggler_togglee{
  transition:all .3s ease-out;
}